
.btn {
	padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    border: none;
    border-radius: 4px;
    margin:0 1em;
    cursor: pointer;
	&-primary {
		color: #fff;
	    background: #1abc9c;
    	border-color: #357ebd;
	}
	&-secondary {
		color: #1abc9c;
	    background-color: #fff;
    	border-color: #357ebd;	
	}
	&[disabled]{
     	background-color: #bdc3c7;
    	border-color: #bdc3c7;
	}
}
