body {
	background: #34495E;
}

#app {
	width: 500px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 2.5px;
    padding: 1em;
    background:#2C3E50 ;
    color: #fff;
}

/*
#34495E
WET ASPHALT
#2C3E50

*/